@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

html, body {
	font-family: 'Raleway', sans-serif;
	align-self: center;
	flex-grow: 0;
	background-color: #edf3f1;
}

.App {
  align-self: center;
  flex-grow: 0;
  padding: 99px 411px 459px 88px;
  background-color: #edf3f1;
}