.card-container {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	margin-bottom: 1.25rem;
}

.card {
	padding: 5px 80px 5px 20px;
	display: flex;
	flex-direction: column;
	max-width: 50%;
	background-color: white;
	border-radius: .5rem;

	&__body {
		display: flex;
		justify-content: space-between;
	}

	&-item {
		>h4 {
			margin: 10px 0;
			color: #949494;
			font-size: 12px;
		}

		>p {
			font-weight: 600;
			font-size: 14px;
			margin: 10px 0;
		}
	}
}